---
---

@import "{{ site.theme }}";

#banner {
	.btns {
		position:fixed;
		left:50%;
		margin-left:-325px;
		padding: 0px;
	}
	.button {
		padding: 10px 12px;
		margin-top: 6px;
		line-height:14px;
		font-size:14px;
		background-color: #FFE788;
	}
}
